.App {
  display: "flex";
  flex-direction: "column";
  justify-content: "center";
  align-items: "center";
  text-align: center;
}

h1 {
    font-family: 'Bigelow Rules';
    font-size: 72px;
    color: #0ccac4;
}
